<div class="container card card-warning card-outline" *ngIf="nFormGroup">

  <form [formGroup]="nFormGroup">
    <div class="card-body">

      <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        {{errorMsg}}
      </div>

      <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        {{successMsg}}
      </div>

      <div class="form-group">
        <label>N° de la plaque d'immatriculation</label>
        <input type="text" class="form-control" formControlName="num_plate">
      </div>

      <div class="form-group">
        <label>Date d'achat</label>
        <input type="date" class="form-control" formControlName="dop">
      </div>

      <div class="form-group">
        <label>Affectée au site de</label>
        <select class="custom-select" formControlName="site_id">
          <option *ngFor="let site of sitesList" [value]="site.site_id">{{site.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Plaque active ?</label>
        <select class="custom-select" formControlName="active">
          <option [value]="true">Oui</option>
          <option [value]="false">Non</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" (click)="update()">update</button>
    </div>
  </form>

</div>
