<div class="container card card-warning card-outline">
  <form [formGroup]="formGroup">
    <div class="card-body form-row">

        <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
      {{errorMsg}}
    </div>

    <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h5><i class="icon fas fa-check"></i> Alert!</h5>
      {{successMsg}}
    </div>

      <div class="col-md-6 mb-3">
        <label>Nom du status</label>
        <input type="email" class="form-control" formControlName="name" placeholder="Nom du status">
      </div>

      <div class="col-md-6 mb-3">
        <label>Actif?</label>
        <select class="custom-select" formControlName="active">
          <option [value]="true">Oui</option>
          <option [value]="false">Non</option>
        </select>
      </div>

      <div class="col-md-12 mb-3">
        <label>Description du status</label>
        <textarea type="text" class="form-control" formControlName="description"
                  placeholder="Description"></textarea>
      </div>

      <div class="col-md-12 mb-3">
      <button type="submit" class="btn btn-success col-md-4" (click)="create()">Enregistrer</button>
      </div>

    </div>
  </form>
</div>
