<div class="container card card-warning card-outline" *ngIf="userFormGroup">

  <form [formGroup]="userFormGroup">
    <div class="card-body form-row">

      <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible col-md-12 mb-3">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        {{errorMsg}}
      </div>

      <div *ngIf="successMsg" class="alert alert-success alert-dismissible col-md-12 mb-3">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        {{successMsg}}
      </div>

      <div class="col-md-4 mb-3">
        <label>Nom</label>
        <input type="text" class="form-control" formControlName="firstname">
      </div>

      <div class="col-md-4 mb-3">
        <label>Prénom</label>
        <input type="text" class="form-control" formControlName="lastname">
      </div>
      <div class="col-md-4 mb-3">
        <label>Adresse email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>

      <div class="col-md-4 mb-3">
        <label>Genre</label>
        <select class="custom-select" formControlName="gender">
          <option [value]="null" disabled>--- Sélectionnez ---</option>
          <option [value]="'Femele'">Femme</option>
          <option [value]="'Male'">Homme</option>
          <option [value]="'NA'">Non genré</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label>Photo</label>
        <input type="text" class="form-control" formControlName="avatar">
      </div>

      <div class="col-md-4 mb-3">
        <label>Date de naissance</label>
        <input type="date" class="form-control" formControlName="dob">
      </div>

      <div class="col-md-4 mb-3">
        <label>N° Tél (Fixe)</label>
        <input type="text" class="form-control" formControlName="phone_pro">
      </div>

      <div class="col-md-4 mb-3">
        <label>N° Tél (Portable)</label>
        <input type="text" class="form-control" formControlName="phone_perso">
      </div>

      <div class="col-md-4 mb-3">
        <label>Nationalité</label>
        <input type="text" class="form-control" formControlName="nationality">
      </div>

      <div class="col-md-4 mb-3">
        <label>N° de registre national</label>
        <input type="text" class="form-control" formControlName="numirn">
      </div>

      <div class="col-md-4 mb-3">
        <label>Type de permis</label>
        <select class="custom-select" formControlName="driver_license">
          <option [value]="null" disabled>--- Sélectionnez ---</option>
          <option [value]="'B'">B</option>
          <option [value]="'C'">C</option>
          <option [value]="'CE'">CE</option>
          <option [value]="'C/CE'">C/CE</option>
          <option [value]="'DE'">DE</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label>Lieu de naissance</label>
        <input type="text" class="form-control" formControlName="pob">
      </div>

      <div class="col-md-4 mb-3">
        <label>Employé actif?</label>
        <select class="custom-select" formControlName="active">
          <option [value]="null" disabled>--- Sélectionnez ---</option>
          <option [value]="true">Oui</option>
          <option [value]="false">Non</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label>Travail à</label>
        <select class="custom-select" formControlName="site">
          <option [value]="null" disabled>--- Sélectionnez ---</option>
          <option *ngFor="let site of sitesList" [value]="site.site_id">{{site.name}}</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label>Fonction</label>
        <select class="custom-select" formControlName="status">
          <option [value]="null" disabled>--- Sélectionnez ---</option>
          <option *ngFor="let status of statusList" [value]="status.status_id">{{status.name}}</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label>Rue</label>
        <input type="text" class="form-control" formControlName="road">
      </div>

      <div class="col-md-1 mb-3">
        <label>N°</label>
        <input type="text" class="form-control" formControlName="num">
      </div>

      <div class="col-md-1 mb-3">
        <label>CP</label>
        <input type="text" class="form-control" formControlName="postal_code">
      </div>

      <div class="col-md-2 mb-3">
        <label>Ville</label>
        <input type="text" class="form-control" formControlName="town">
      </div>

      <div class="col-md-2 mb-3">
        <label>Pays</label>
        <select class="custom-select" formControlName="country">
          <option [value]="null" disabled>--- Sélectionnez ---</option>
          <option [value]="'Belgique'">Belgique</option>
          <option [value]="'France'">France</option>
          <option [value]="'Allemagne'">Allemagne</option>
          <option [value]="'Luxembourg'">Luxembourg</option>
          <option [value]="'Pays-bas'">Pays-bas</option>
        </select>
      </div>




      <div class="col-md-12 mb-3">
        <button type="submit" class="btn btn-success col-md-4 " (click)="create()">Enregistrer</button>
      </div>

    </div>
  </form>
</div>
