<form [formGroup]="intervtechFormGroup" *ngIf="intervtechFormGroup">

  <div class="form-row">
    <div class="col-md-2 mb-3">
      <input type="date" class="form-control" formControlName="start_date">
    </div>

    <div class="col-md-2 mb-3">
      <input type="date" class="form-control" formControlName="end_date">
    </div>

    <div class="col-md-2 mb-3">
      <input type="text" class="form-control" formControlName="description" placeholder="Commentaire">
    </div>

    <div class="col-md-1 mb-3">
      <input type="text" class="form-control" formControlName="price" placeholder="Prix">
    </div>

    <div class="col-md-3">
      <select class="custom-select" formControlName="provider_id">
        <option [value]="null" selected disabled>Fournisseur de service</option>
        <option *ngFor="let provider of providersList" [value]="provider.provider_id">{{provider.name}}</option>
      </select>
    </div>

    <div class="col-md-2 mb-3">
      <button type="submit" class="btn btn-success col-md-12" (click)="create()">Enregistrer</button>
    </div>
  </div>

</form>

<div class="card-body p-0">
  <table class="table table-sm table-striped projects">
    <thead class="text-center">
    <tr>
      <th>Date début</th>
      <th>Date fin</th>
      <th>Prix</th>
      <th>Fournisseur</th>
      <th>Commentaire</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let intervtech of intervtechList" class="text-center">
      <td>{{intervtech.start_date | date:'dd/MM/yyyy' }}</td>
      <td>{{intervtech.end_date | date:'dd/MM/yyyy' }}</td>
      <td>{{intervtech.price | currency: 'EUR'}}</td>
      <td>{{intervtech.provider.name}}</td>
      <td>{{intervtech.description}}</td>
      <td class="project-actions text-center">
        <a class="btn btn-info btn-sm" (click)="update(intervtech.intervtech_id)"><i class="fas fa-pencil-alt"></i></a>
        <a class="btn btn-danger btn-sm" (click)="delete(intervtech.intervtech_id)"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
