<div class="container card card-warning card-outline" *ngIf="sFormGroup">

  <form [formGroup]="sFormGroup">
    <div class="card-body">

      <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        {{errorMsg}}
      </div>

      <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        {{successMsg}}
      </div>

      <div class="form-group">
        <label>Site ID</label>
        <input type="email" class="form-control" formControlName="site_id" placeholder="Nom du site">
      </div>

      <div class="form-group">
        <label>Nom du site</label>
        <input type="email" class="form-control" formControlName="name" placeholder="Nom du site">
      </div>

      <div class="form-group">
        <label>Date de création du site</label>
        <input type="date" class="form-control" formControlName="created_on">
      </div>

      <div class="form-group">
        <label>Description dus site</label>
        <textarea type="text" class="form-control" formControlName="description"
                  placeholder="Description du site"></textarea>
      </div>

      <div class="form-group">
        <label>Actif?</label>
        <select class="custom-select" formControlName="active">
          <option [value]="true">Oui</option>
          <option [value]="false">Non</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" (click)="update()">Mettre à jour</button>
    </div>
  </form>

</div>
