<form [formGroup]="formGroup" *ngIf="formGroup">

  <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
    {{errorMsg}}
  </div>

  <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-check"></i> Alert!</h5>
    {{successMsg}}
  </div>

  <div class="form-row">
    <label>Current user id</label>
    <input type="text" class="form-control" placeholder="user_id" formControlName="user_id">

    <div class="col-md-4 mb-3">
      <label>Username (email)</label>
      <input type="text" class="form-control" placeholder="username" formControlName="username">
    </div>

    <div class="col-md-4 mb-3">
      <label>password #1</label>
      <input type="text" class="form-control" placeholder="Password #1" formControlName="password">
    </div>

    <div class="col-md-4 mb-3">
      <label>Créé le</label>
      <input type="date" class="form-control" placeholder="created_on" formControlName="created_on">
    </div>

    <div class="col-md-4 mb-3">
      <label>Mis à jour le</label>
      <input type="date" class="form-control" placeholder="updated_on" formControlName="updated_on">
    </div>

    <div class="col-md-4 mb-3">
      <label>Auth active ?</label>
      <select class="custom-select" formControlName="active">
        <option [value]="true">Oui</option>
        <option [value]="false">Non</option>
      </select>
    </div>

    <div class="col-md-4 mb-3">
      <label>Status</label>
      <select class="custom-select" formControlName="rank_id">
        <option [value]="null" disabled>Select a status</option>
        <option *ngFor="let rank of rankList" [value]="rank.rank_id">{{rank.name}}</option>
      </select>
    </div>

  </div>
  <button type="submit" class="btn btn-primary" *ngIf="!uCredential" (click)="save()">Ajouter</button>
  <button type="submit" class="btn btn-primary" *ngIf="uCredential" (click)="update()">Mettre à jour</button>
</form>
<pre>
{{uCredential | json}}
</pre>
