<div class="container card card-warning card-outline" *ngIf="formGroup">

  <form [formGroup]="formGroup">
    <div class="card-body form-row">

      <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible col-md-12">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        {{errorMsg}}
      </div>

      <div *ngIf="successMsg" class="alert alert-success alert-dismissible col-md-12">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        {{successMsg}}
      </div>

      <div class="col-md-6 mb-3">
        <label>N° de la plaque d'immatriculation</label>
        <input type="text" class="form-control" formControlName="num_plate">
      </div>

      <div class="col-md-6 mb-3">
        <label>Date d'achat</label>
        <input type="date" class="form-control" formControlName="dop">
      </div>

      <div class="col-md-6 mb-3">
        <label>Affectée au site de</label>
        <select class="custom-select" formControlName="site">
          <option [value]="null" selected disabled>Select a site</option>
          <option *ngFor="let site of sitesList" [value]="site.site_id">{{site.name}}</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label>Plaque active ?</label>
        <select class="custom-select" formControlName="active">
          <option [value]="null" selected disabled>Select a status</option>
          <option [value]="true">Oui</option>
          <option [value]="false">Non</option>
        </select>
      </div>

      <div class="col-md-12 mb-3">
      <button type="submit" class="btn btn-success col-md-4" (click)="create()">Enregistrer</button>
      </div>
    </div>
  </form>
</div>
