<div class="input-group">
  <button class="button btn btn-success mr-2" routerLink="create">
    <span>Ajouter</span>
    <i class="icon fa fa-plus"></i>
  </button>
<!--
  <a class="iconExport" routerLink="export/csv">
    <i class="fa-solid fa-file-csv fa-2xl"></i>
  </a>

  <a class="iconExport" routerLink="export/pdf">
    <i class="fa-solid fa-file-pdf fa-2xl"></i>
  </a>
  -->
</div>

<div *ngIf="successMsg" class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h5><i class="icon fas fa-check"></i> Alert!</h5>
  {{successMsg}}
</div>

<div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h5><i class="icon fas fa-check"></i> Alert!</h5>
  {{errorMsg}}
</div>

<div class="card card-warning card-outline">
  <div class="card-body p-0">
    <table class="table table-striped projects">
      <thead>
      <tr>
        <th style="width: auto" class="text-center">Photo</th>
        <th style="width: auto" class="text-center">Marque</th>
        <th style="width: auto" class="text-center">Immatriculation</th>
        <th style="width: auto" class="text-center">Affecté à (Site)</th>
        <th style="width: auto" class="text-center">État</th>
        <th style="width: auto" class="text-center">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicule of vehiculesList" class="text-center">
        <td><img alt="Avatar" class="table-avatar" src="./assets/dist/img/{{vehicule.avatar}}"></td>
        <td>{{vehicule.brand}}</td>
        <td>
          <span *ngIf="vehicule.numberplate !== null; else elseBlock1">{{vehicule.numberplate.num_plate}}</span>
          <ng-template #elseBlock1>Pas d'immatriculation</ng-template>
        </td>
        <td>
          <span *ngIf="vehicule.site !== null; else elseBlock2">{{vehicule.site.name}}</span>
          <ng-template #elseBlock2>Pas de site</ng-template>
        </td>
        <td class="project-state">
          <span class="badge badge-success" *ngIf="vehicule.active === true; else elseBlock3">Actif</span>
          <ng-template #elseBlock3><span class="badge badge-danger">Inactif</span></ng-template>
        </td>
        <td class="project-actions text-center">
          <a class="btn btn-info btn-sm" [routerLink]="['details', vehicule.vehicule_id]"><i
            class="fas fa-pencil-alt"></i></a>
          <a class="btn btn-danger btn-sm" (click)="delete(vehicule.vehicule_id)"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
