<div class="container card card-warning card-outline" *ngIf="formGroup">
  <form [formGroup]="formGroup">
    <div class="card-body">

      <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        {{errorMsg}}
      </div>

      <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        {{successMsg}}
      </div>

      <div class="form-group">
        <label>Nom du prestataire</label>
        <input type="email" class="form-control" placeholder="Nom du prestataire" formControlName="name">
      </div>

      <div class="form-group">
        <label>Adresse email</label>
        <input type="email" class="form-control" placeholder="email" formControlName="email">
      </div>

      <div class="form-group">
        <label>Type de service</label>
        <input type="email" class="form-control" placeholder="Type de service" formControlName="service">
      </div>

      <div class="form-group">
        <label>Téléphone</label>
        <input type="email" class="form-control" placeholder="Téléphone" formControlName="phone">
      </div>

      <div class="form-group">
        <label>Actif?</label>
        <select class="custom-select" formControlName="active">
          <option [value]="true">Oui</option>
          <option [value]="false">Non</option>
        </select>
      </div>

      <div class="form-group">
        <label>Adresse du prestataire</label>
        <input type="email" class="form-control" placeholder="Adresse" formControlName="address_id">
      </div>
      <button type="submit" class="btn btn-primary" (click)="create()">Enregistrer</button>
    </div>
  </form>
</div>
