<div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
  {{errorMsg}}
</div>

<div *ngIf="successMsg" class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h5><i class="icon fas fa-check"></i> Alert!</h5>
  {{successMsg}}
</div>

<form [formGroup]="credentialFormGroup" *ngIf="credentialFormGroup">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>Username (email)</label>
      <input type="text" class="form-control" placeholder="username" formControlName="username">
    </div>
    <div class="col-md-6 mb-3">
      <label>password #1</label>
      <input type="text" class="form-control" placeholder="Password #1" formControlName="password">
    </div>
    <div class="col-md-6 mb-3">
      <label>Auth active ?</label>
      <select class="custom-select" formControlName="active">
        <option [value]="null" selected disabled>--- Sélectionnez ---</option>
        <option [value]="true">Oui</option>
        <option [value]="false">Non</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label>Rang</label>
      <select class="custom-select" formControlName="rank">
        <option [value]="null" selected disabled>Select a rank</option>
        <option *ngFor="let rank of rankList" [value]="rank.rank_id">{{rank.name}}</option>
      </select>
    </div>
    <div class="col-md-12 mb-3">
      <button type="submit" class="btn btn-success col-md-4" *ngIf="!uCredential" (click)="save()">Ajouter</button>
      <button type="submit" class="btn btn-warning col-md-4" *ngIf="uCredential" (click)="update()">Mettre à jour</button>
    </div>
  </div>
</form>
<pre>
{{uCredential | json}}
</pre>
