<div *ngIf="formGroup">

  <form [formGroup]="formGroup">
    <div class="card-body">

      <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        {{errorMsg}}
      </div>

      <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        {{successMsg}}
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>Marque</label>
          <input type="text" class="form-control" formControlName="brand">
        </div>


        <div class="col-md-4 mb-3">
          <label>Code carrosserie</label>
          <input type="text" class="form-control" formControlName="cde_carrosserie">
        </div>

        <div class="col-md-4 mb-3">
          <label>Classe environementale</label>
          <select class="custom-select" formControlName="classe_enviro">
            <option [value]="null" disabled>--- Sélectionnez ---</option>
            <option [value]="'Euro 0'">Euro 0</option>
            <option [value]="'Euro I'">Euro I</option>
            <option [value]="'Euro II'">Euro II</option>
            <option [value]="'Euro III'">Euro III</option>
            <option [value]="'Euro IV'">Euro IV</option>
            <option [value]="'Euro V'">Euro V</option>
            <option [value]="'Euro VI'">Euro VI</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>Type de carburant</label>
          <select class="custom-select" formControlName="fuel">
            <option [value]="null" selected disabled>-- Sélectionnez --</option>
            <option [value]="'Diesel'">Diesel</option>
            <option [value]="'Essence'">Essence</option>
            <option [value]="'Gazoil'">Gazoil</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>genre</label>
          <input type="text" class="form-control" formControlName="genre">
        </div>

        <div class="col-md-4 mb-3">
          <label>Date d'achat</label>
          <input type="date" class="form-control" formControlName="date_of_purchase">
        </div>

        <div class="col-md-4 mb-3">
          <label>Métrologie</label>
          <input type="text" class="form-control" formControlName="metrology">
        </div>

        <div class="col-md-4 mb-3">
          <label>Masse Maximum Autorisée</label>
          <input type="text" class="form-control" formControlName="mma">
        </div>

        <div class="col-md-4 mb-3">
          <label>MMA Train</label>
          <input type="text" class="form-control" formControlName="mmat">
        </div>

        <div class="col-md-4 mb-3">
          <label>Tare (Masse Ordre Marche)</label>
          <input type="text" class="form-control" formControlName="mom">
        </div>

        <div class="col-md-4 mb-3">
          <label>Masse Technique Autorisée</label>
          <input type="text" class="form-control" formControlName="mta">
        </div>

        <div class="col-md-4 mb-3">
          <label>Kilomètrage</label>
          <input type="text" class="form-control" formControlName="nbr_km">
        </div>

        <div class="col-md-4 mb-3">
          <label>Numéro de chassis</label>
          <input type="text" class="form-control" formControlName="num_chassis">
        </div>

        <div class="col-md-4 mb-3">
          <label>Prix d'achat</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">&euro;</span>
            </div>
            <input type="number" class="form-control" formControlName="price">
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label>Type de véhicule</label>
          <select class="custom-select" formControlName="type">
            <option [value]="null" disabled>--- Sélectionnez ---</option>
            <option [value]="'Citerne'">Citerne</option>
            <option [value]="'Colis'">Colis</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>Acheté par (site):</label>
          <select class="custom-select" formControlName="bought_by">
            <option [value]="null" disabled>--- Sélectionnez ---</option>
            <option *ngFor="let site of sitesList" [value]="site.site_id">{{site.name}}</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>Photo</label>
          <input type="text" class="form-control" formControlName="avatar">
        </div>

        <div class="col-md-4 mb-3">
          <label>Véhicule actif?</label>
          <select class="custom-select" formControlName="active">
            <option [value]="null" disabled>--- Sélectionnez ---</option>
            <option [value]="true">Oui</option>
            <option [value]="false">Non</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>Affecté à (Site)</label>
          <select class="custom-select" formControlName="site">
            <option [value]="null" disabled>--- Sélectionnez ---</option>
            <option *ngFor="let site of sitesList" [value]="site.site_id">{{site.name}}</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>N° d'immatriculation</label>
          <select class="custom-select" formControlName="numberplate">
            <option [value]="null" disabled>--- Sélectionnez ---</option>
            <option *ngFor="let numberplate of numberplateList" [value]="numberplate.numberplate_id">{{numberplate.num_plate}}</option>
          </select>
        </div>
        <div class="col-md-12 mb-3">
          <button type="submit" class="btn btn-success col-md-4" (click)="update()">Mettre à jour</button>
        </div>
      </div>
    </div>
  </form>
</div>
