<div class="input-group">
  <button class="button btn btn-success mr-2" routerLink="create">
    <span>Ajouter</span>
    <i class="icon fa fa-plus"></i>
  </button>

  <!--
  <a class="iconExport" routerLink="export/csv">
    <i class="fa-solid fa-file-csv fa-2xl"></i>
  </a>
-->
  <a class="iconExport" routerLink="export/pdf" disabled>
    <i class="fa-solid fa-file-pdf fa-2xl"></i>
  </a>

</div>

<div *ngIf="successMsg" class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h5><i class="icon fas fa-check"></i> Alert!</h5>
  {{successMsg}}
</div>

<div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h5><i class="icon fas fa-check"></i> Alert!</h5>
  {{errorMsg}}
</div>


<div class="card card-warning card-outline">
  <div class="card-body p-0">
    <table class="table table-striped projects">
      <thead>
      <tr>
        <th style="width: auto" class="text-center">Photo</th>
        <th style="width: auto" class="text-center">Nom</th>
        <th style="width: auto" class="text-center">Prénom</th>
        <th style="width: auto" class="text-center">Email</th>
        <th style="width: auto" class="text-center">Statut</th>
        <th style="width: auto" class="text-center">Site</th>
        <th style="width: auto" class="text-center">État</th>
        <th style="width: auto" class="text-center">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of usersList$" class="text-center">
        <td><img alt="Avatar" class="table-avatar" src="./assets/dist/img/{{u.avatar}}"></td>
        <td>{{u.firstname | titlecase}}</td>
        <td>{{u.lastname | titlecase}}</td>
        <td>{{u.email | lowercase}}</td>
        <td>
          <span *ngIf="u.status !== null; else elseBlock1">{{u.status.name}}</span>
          <ng-template #elseBlock1>Pas de statut</ng-template>
        </td>
        <td>
          <span *ngIf="u.site !== null; else elseBlock2">{{u.site.name}}</span>
          <ng-template #elseBlock2>Pas de site</ng-template>
        </td>
        <td class="project-state">
          <span class="badge badge-success" *ngIf="u.active === true; else elseBlock3">Actif</span>
          <ng-template #elseBlock3><span class="badge badge-danger">Inactif</span></ng-template>
        </td>
        <td class="project-actions text-center">
          <a class="btn btn-info btn-sm" [routerLink]="['details', u.user_id]"><i class="fas fa-pencil-alt"></i></a>
          <a class="btn btn-danger btn-sm" (click)="delete(u.user_id)"><i class="fas fa-trash"></i></a>
          <!--
          <a class="btn btn-warning btn-sm" (click)="archive(user.user_id)"><i class="fas fa-box-archive"></i></a>
          -->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
