<div class="p-10">
  <a class="button btn-success" routerLink="create">
    <span>Ajouter</span>
    <i class="icon fa fa-plus"></i>
  </a>
</div>

<div *ngIf="successMsg" class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h5><i class="icon fas fa-check"></i> Alert!</h5>
  {{successMsg}}
</div>

<!-- Default box -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des utilisateurs</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped projects">
      <thead>
      <tr>
        <th style="width: auto" class="text-center">Photo</th>
        <th style="width: auto" class="text-center">Prénom</th>
        <th style="width: auto" class="text-center">Nom</th>
        <th style="width: auto" class="text-center">Email</th>
        <th style="width: auto" class="text-center">Status</th>
        <th style="width: auto%" class="text-center">Site</th>
        <th style="width: auto%" class="text-center">Actif?</th>
        <th style="width: auto%" class="text-center">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of readData" class="text-center">
        <td><img alt="Avatar" class="table-avatar" src="./assets/dist/img/{{user.avatar}}"></td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>
          <span *ngIf="user.status !== null; else elseBlock1">{{user.status.name}}</span>
          <ng-template #elseBlock1>Pas de status</ng-template>
        </td>
        <td>
          <span *ngIf="user.site !== null; else elseBlock2">{{user.site.name}}</span>
          <ng-template #elseBlock2>Pas de site</ng-template>
        </td>
        <td class="project-state">
          <span class="badge badge-success" *ngIf="user.active === true; else elseBlock3">Actif</span>
          <ng-template #elseBlock3><span class="badge badge-danger">Inactif</span></ng-template>
        </td>
        <td class="project-actions text-center">
          <a class="btn btn-info btn-sm" [routerLink]="['details', user.user_id]"><i class="fas fa-pencil-alt"></i>
            Details</a>
          <a class="btn btn-danger btn-sm" (click)="delete(user.user_id)"><i class="fas fa-trash"></i> Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
