<div *ngIf="uFormGroup">

  <form [formGroup]="uFormGroup">
    <div class="card-body">
      <div *ngIf="errorMsg" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        {{errorMsg}}
      </div>

      <div *ngIf="successMsg" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        {{successMsg}}
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label>user_id</label>
          <input type="text" class="form-control" formControlName="user_id" value="{{uDetails.user_id}}">
        </div>
      </div>
      <!-- -->

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>firstname</label>
          <input type="text" class="form-control" formControlName="firstname" value="{{uDetails.firstname}}">
        </div>


        <div class="col-md-4 mb-3">
          <label>lastname</label>
          <input type="text" class="form-control" formControlName="lastname" value="{{uDetails.lastname}}">
        </div>
        <div class="col-md-4 mb-3">
          <label>email</label>
          <input type="text" class="form-control" formControlName="email" value="{{uDetails.email}}">
        </div>
      </div>

      <!-- -->

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>gender</label>
          <input type="text" class="form-control" formControlName="gender" value="{{uDetails.gender}}">
        </div>

        <div class="col-md-4 mb-3">
          <label>avatar</label>
          <input type="text" class="form-control" formControlName="avatar" value="{{uDetails.avatar}}">
        </div>

        <div class="col-md-4 mb-3">
          <label>dob</label>
          <input type="date" class="form-control" formControlName="dob" value="{{uDetails.dob}}">
        </div>
      </div>

      <!-- -->

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>phone_pro</label>
          <input type="text" class="form-control" formControlName="phone_pro" value="{{uDetails.phone_pro}}">
        </div>
      </div>

      <!-- -->

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>phone_perso</label>
          <input type="text" class="form-control" formControlName="phone_perso" value="{{uDetails.phone_perso}}">
        </div>

        <div class="col-md-4 mb-3">
          <label>nationality</label>
          <input type="text" class="form-control" formControlName="nationality" value="{{uDetails.nationality}}">
        </div>

        <div class="col-md-4 mb-3">
          <label>numirn</label>
          <input type="text" class="form-control" formControlName="numirn" value="{{uDetails.numirn}}">
        </div>
      </div>

      <!-- -->

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>driver_license</label>
          <input type="text" class="form-control" formControlName="driver_license" value="{{uDetails.driver_license}}">
        </div>

        <div class="col-md-4 mb-3">
          <label>created_on</label>
          <input type="date" class="form-control" formControlName="created_on" value="{{uDetails.created_on}}">
        </div>

        <div class="col-md-4 mb-3">
          <label>updated_on</label>
          <input type="date" class="form-control" formControlName="updated_on" value="{{uDetails.updated_on}}">
        </div>
      </div>

      <!-- -->

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>pob</label>
          <input type="text" class="form-control" formControlName="pob" value="{{uDetails.pob}}">
        </div>

        <div class="col-md-4 mb-3">
          <label>Employe actif?</label>
          <select class="custom-select" formControlName="active">
            <option [value]="null" disabled>Select an option</option>
            <option [value]="true">Oui</option>
            <option [value]="false">Non</option>
          </select>
        </div>

      </div>

      <!-- -->

      <div class="form-row">

        <div class="col-md-4 mb-3">
          <label>Travail à</label>
          <select class="custom-select" formControlName="site">
            <option [value]="null" selected disabled>Select an option</option>
            <option *ngFor="let site of sitesList" [value]="site.site_id">{{site.name}}</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>Adresse</label>
          <select class="custom-select" formControlName="address">
            <option [value]="null" selected disabled>Select an option</option>
            <option *ngFor="let address of addressList" [value]="address.address_id">{{address.road}}, {{address.num}} | {{address.postal_code}} {{address.town}} | {{address.country}}</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>Status</label>
          <select class="custom-select" formControlName="status">
            <option [value]="null" disabled>Select an option</option>
            <option *ngFor="let status of statusList" [value]="status.status_id">{{status.name}}</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" *ngIf="getParamId" (click)="update()">Mettre à jour</button>
    </div>
  </form>
</div>
